/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #be315c;
    color: rgb(7, 7, 7);
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

/* Estilos para o conteúdo */
.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
}

article {
    margin-bottom: 30px;
}

h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    text-align: justify;
}

/* Imagens responsivas */
.img-responsive {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 15px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}